:root {
        --gs-focusBorder: #0969da;
    --gs-textLink-foreground: #0969da;
    --gs-textLink-activeForeground: #0969da;
    --gs-textSeparator-foreground: #d8dee4;
    --gs-textPreformat-foreground: #656d76;
    --gs-textPreformat-background: rgba(175, 184, 193, 0.2);
    --gs-textBlockQuote-background: #f6f8fa;
    --gs-textBlockQuote-border: #d0d7de;
    --gs-textCodeBlock-background: rgba(175, 184, 193, 0.2);
    --gs-sash-hoverBorder: #0969da;
    --gs-sash-size: 4px;
    --gs-sash-hover-size: 4px;
    --gs-badge-background: #0969da;
    --gs-badge-foreground: #ffffff;
    --gs-activityWarningBadge-foreground: #ffffff;
    --gs-activityWarningBadge-background: #b27c00;
    --gs-activityErrorBadge-foreground: #ffffff;
    --gs-activityErrorBadge-background: #e51400;
    --gs-scrollbar-shadow: rgba(110, 119, 129, 0.2);
    --gs-scrollbarSlider-background: rgba(140, 149, 159, 0.2);
    --gs-scrollbarSlider-hoverBackground: rgba(140, 149, 159, 0.24);
    --gs-scrollbarSlider-activeBackground: rgba(140, 149, 159, 0.28);
    --gs-progressBar-background: #0969da;
    --gs-chart-line: #236b8e;
    --gs-chart-axis: rgba(0, 0, 0, 0.6);
    --gs-chart-guide: rgba(0, 0, 0, 0.2);
    --gs-editor-background: #ffffff;
    --gs-editor-foreground: #1f2328;
    --gs-editorStickyScroll-background: #ffffff;
    --gs-editorStickyScrollGutter-background: #ffffff;
    --gs-editorStickyScrollHover-background: #f0f0f0;
    --gs-editorStickyScroll-shadow: rgba(110, 119, 129, 0.2);
    --gs-editorWidget-background: #ffffff;
    --gs-editorWidget-foreground: #1f2328;
    --gs-editorWidget-border: #c8c8c8;
    --gs-editorError-foreground: #e51400;
    --gs-editorWarning-foreground: #bf8803;
    --gs-editorInfo-foreground: #0063d3;
    --gs-editorHint-foreground: #6c6c6c;
    --gs-editorLink-activeForeground: #0000ff;
    --gs-editor-selectionBackground: #add6ff;
    --gs-editor-inactiveSelectionBackground: rgba(173, 214, 255, 0.5);
    --gs-editor-selectionHighlightBackground: rgba(74, 194, 107, 0.25);
    --gs-editor-compositionBorder: #000000;
    --gs-editor-findMatchBackground: #bf8700;
    --gs-editor-findMatchHighlightBackground: rgba(250, 225, 125, 0.5);
    --gs-editor-findRangeHighlightBackground: rgba(180, 180, 180, 0.3);
    --gs-editor-hoverHighlightBackground: rgba(173, 214, 255, 0.15);
    --gs-editorHoverWidget-background: #ffffff;
    --gs-editorHoverWidget-foreground: #1f2328;
    --gs-editorHoverWidget-border: #c8c8c8;
    --gs-editorHoverWidget-statusBarBackground: #f2f2f2;
    --gs-editorInlayHint-foreground: #656d76;
    --gs-editorInlayHint-background: rgba(175, 184, 193, 0.2);
    --gs-editorInlayHint-typeForeground: #656d76;
    --gs-editorInlayHint-typeBackground: rgba(175, 184, 193, 0.2);
    --gs-editorInlayHint-parameterForeground: #656d76;
    --gs-editorInlayHint-parameterBackground: rgba(175, 184, 193, 0.2);
    --gs-editorLightBulb-foreground: #ddb100;
    --gs-editorLightBulbAutoFix-foreground: #007acc;
    --gs-editorLightBulbAi-foreground: #ddb100;
    --gs-editor-snippetTabstopHighlightBackground: rgba(10, 50, 100, 0.2);
    --gs-editor-snippetFinalTabstopHighlightBorder: rgba(10, 50, 100, 0.5);
    --gs-diffEditor-insertedTextBackground: rgba(111, 221, 139, 0.5);
    --gs-diffEditor-removedTextBackground: rgba(255, 129, 130, 0.4);
    --gs-debug-ansi-terminal-ansiBlack: #24292f;
    --gs-debug-ansi-terminal-ansiRed: #cf222e;
    --gs-debug-ansi-terminal-ansiGreen: #116329;
    --gs-debug-ansi-terminal-ansiYellow: #4d2d00;
    --gs-debug-ansi-terminal-ansiBlue: #0969da;
    --gs-debug-ansi-terminal-ansiMagenta: #8250df;
    --gs-debug-ansi-terminal-ansiCyan: #1b7c83;
    --gs-debug-ansi-terminal-ansiWhite: #6e7781;
    --gs-debug-ansi-terminal-ansiBrightBlack: #57606a;
    --gs-debug-ansi-terminal-ansiBrightRed: #a40e26;
    --gs-debug-ansi-terminal-ansiBrightGreen: #1a7f37;
    --gs-debug-ansi-terminal-ansiBrightYellow: #633c01;
    --gs-debug-ansi-terminal-ansiBrightBlue: #1a70ce;
    --gs-debug-ansi-terminal-ansiBrightMagenta: #845ec9;
    --gs-debug-ansi-terminal-ansiBrightCyan: #2c8399;
    --gs-debug-ansi-terminal-ansiBrightWhite: #717880;
    --gs-foreground: #1f2328;
    --gs-disabledForeground: rgba(97, 97, 97, 0.5);
    --gs-errorForeground: #cf222e;
    --gs-descriptionForeground: #656d76;
    --gs-icon-foreground: #656d76;
    --gs-diffEditor-insertedLineBackground: rgba(172, 238, 187, 0.3);
    --gs-diffEditor-removedLineBackground: rgba(255, 206, 203, 0.3);
    --gs-diffEditor-diagonalFill: rgba(34, 34, 34, 0.2);
    --gs-diffEditor-unchangedRegionBackground: #f6f8fa;
    --gs-diffEditor-unchangedRegionForeground: #1f2328;
    --gs-diffEditor-unchangedCodeBackground: rgba(184, 184, 184, 0.16);
    --gs-widget-shadow: rgba(0, 0, 0, 0.16);
    --gs-toolbar-hoverBackground: rgba(184, 184, 184, 0.31);
    --gs-toolbar-activeBackground: rgba(166, 166, 166, 0.31);
    --gs-breadcrumb-foreground: #656d76;
    --gs-breadcrumb-background: #ffffff;
    --gs-breadcrumb-focusForeground: #1f2328;
    --gs-breadcrumb-activeSelectionForeground: #656d76;
    --gs-breadcrumbPicker-background: #ffffff;
    --gs-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
    --gs-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
    --gs-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
    --gs-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
    --gs-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
    --gs-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
    --gs-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
    --gs-editorOverviewRuler-incomingContentForeground: rgba(64, 166, 255, 0.5);
    --gs-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
    --gs-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --gs-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --gs-problemsErrorIcon-foreground: #e51400;
    --gs-problemsWarningIcon-foreground: #bf8803;
    --gs-problemsInfoIcon-foreground: #0063d3;
    --gs-minimap-findMatchHighlight: rgba(250, 225, 125, 0.5);
    --gs-minimap-selectionOccurrenceHighlight: rgba(74, 194, 107, 0.25);
    --gs-minimap-selectionHighlight: #add6ff;
    --gs-minimap-infoHighlight: #0063d3;
    --gs-minimap-warningHighlight: #bf8803;
    --gs-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
    --gs-minimap-foregroundOpacity: #000000;
    --gs-minimapSlider-background: rgba(140, 149, 159, 0.2);
    --gs-minimapSlider-hoverBackground: rgba(140, 149, 159, 0.24);
    --gs-minimapSlider-activeBackground: rgba(140, 149, 159, 0.28);
    --gs-charts-foreground: #1f2328;
    --gs-charts-lines: rgba(31, 35, 40, 0.5);
    --gs-charts-red: #e51400;
    --gs-charts-blue: #0063d3;
    --gs-charts-yellow: #bf8803;
    --gs-charts-orange: rgba(250, 225, 125, 0.5);
    --gs-charts-green: #388a34;
    --gs-charts-purple: #652d90;
    --gs-input-background: #ffffff;
    --gs-input-foreground: #1f2328;
    --gs-input-border: #d0d7de;
    --gs-inputOption-activeBorder: #007acc;
    --gs-inputOption-hoverBackground: rgba(184, 184, 184, 0.31);
    --gs-inputOption-activeBackground: rgba(9, 105, 218, 0.2);
    --gs-inputOption-activeForeground: #000000;
    --gs-input-placeholderForeground: #6e7781;
    --gs-inputValidation-infoBackground: #d6ecf2;
    --gs-inputValidation-infoBorder: #007acc;
    --gs-inputValidation-warningBackground: #f6f5d2;
    --gs-inputValidation-warningBorder: #b89500;
    --gs-inputValidation-errorBackground: #f2dede;
    --gs-inputValidation-errorBorder: #be1100;
    --gs-dropdown-background: #ffffff;
    --gs-dropdown-listBackground: #ffffff;
    --gs-dropdown-foreground: #1f2328;
    --gs-dropdown-border: #d0d7de;
    --gs-button-foreground: #ffffff;
    --gs-button-separator: rgba(255, 255, 255, 0.4);
    --gs-button-background: #1f883d;
    --gs-button-hoverBackground: #1a7f37;
    --gs-button-secondaryForeground: #24292f;
    --gs-button-secondaryBackground: #ebecf0;
    --gs-button-secondaryHoverBackground: #f3f4f6;
    --gs-radio-activeForeground: #000000;
    --gs-radio-activeBackground: rgba(9, 105, 218, 0.2);
    --gs-radio-activeBorder: #007acc;
    --gs-radio-inactiveBorder: rgba(0, 0, 0, 0.2);
    --gs-radio-inactiveHoverBackground: rgba(184, 184, 184, 0.31);
    --gs-checkbox-background: #f6f8fa;
    --gs-checkbox-selectBackground: #ffffff;
    --gs-checkbox-foreground: #1f2328;
    --gs-checkbox-border: #d0d7de;
    --gs-checkbox-selectBorder: #656d76;
    --gs-checkbox-disabled-background: #afb1b4;
    --gs-checkbox-disabled-foreground: #65696d;
    --gs-keybindingLabel-background: rgba(221, 221, 221, 0.4);
    --gs-keybindingLabel-foreground: #1f2328;
    --gs-keybindingLabel-border: rgba(204, 204, 204, 0.4);
    --gs-keybindingLabel-bottomBorder: rgba(187, 187, 187, 0.4);
    --gs-list-focusBackground: #ddf4ff;
    --gs-list-focusForeground: #1f2328;
    --gs-list-focusOutline: #0969da;
    --gs-list-activeSelectionBackground: rgba(175, 184, 193, 0.2);
    --gs-list-activeSelectionForeground: #1f2328;
    --gs-list-inactiveSelectionBackground: rgba(175, 184, 193, 0.2);
    --gs-list-inactiveSelectionForeground: #1f2328;
    --gs-list-inactiveFocusBackground: #ddf4ff;
    --gs-list-hoverBackground: rgba(234, 238, 242, 0.5);
    --gs-list-hoverForeground: #1f2328;
    --gs-list-dropBackground: #d6ebff;
    --gs-list-dropBetweenBackground: #656d76;
    --gs-list-highlightForeground: #0969da;
    --gs-list-focusHighlightForeground: #0969da;
    --gs-list-invalidItemForeground: #b89500;
    --gs-list-errorForeground: #b01011;
    --gs-list-warningForeground: #855f00;
    --gs-listFilterWidget-background: #ffffff;
    --gs-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --gs-listFilterWidget-noMatchesOutline: #be1100;
    --gs-listFilterWidget-shadow: rgba(0, 0, 0, 0.16);
    --gs-list-filterMatchBackground: rgba(250, 225, 125, 0.5);
    --gs-list-deemphasizedForeground: #8e8e90;
    --gs-tree-indentGuidesStroke: #d8dee4;
    --gs-tree-inactiveIndentGuidesStroke: rgba(216, 222, 228, 0.4);
    --gs-tree-tableColumnsBorder: rgba(97, 97, 97, 0.13);
    --gs-tree-tableOddRowsBackground: rgba(31, 35, 40, 0.04);
    --gs-editorActionList-background: #ffffff;
    --gs-editorActionList-foreground: #1f2328;
    --gs-editorActionList-focusForeground: #1f2328;
    --gs-editorActionList-focusBackground: rgba(175, 184, 193, 0.2);
    --gs-menu-foreground: #1f2328;
    --gs-menu-background: #ffffff;
    --gs-menu-selectionForeground: #1f2328;
    --gs-menu-selectionBackground: rgba(175, 184, 193, 0.2);
    --gs-menu-separatorBackground: #d4d4d4;
    --gs-quickInput-background: #ffffff;
    --gs-quickInput-foreground: #1f2328;
    --gs-quickInputTitle-background: rgba(0, 0, 0, 0.06);
    --gs-pickerGroup-foreground: #656d76;
    --gs-pickerGroup-border: #d0d7de;
    --gs-quickInputList-focusForeground: #1f2328;
    --gs-quickInputList-focusBackground: rgba(175, 184, 193, 0.2);
    --gs-search-resultsInfoForeground: #1f2328;
    --gs-searchEditor-findMatchBackground: rgba(250, 225, 125, 0.33);
    --gs-editor-lineHighlightBackground: rgba(234, 238, 242, 0.5);
    --gs-editor-inactiveLineHighlightBackground: rgba(234, 238, 242, 0.5);
    --gs-editor-lineHighlightBorder: #eeeeee;
    --gs-editor-rangeHighlightBackground: rgba(253, 255, 0, 0.2);
    --gs-editor-symbolHighlightBackground: rgba(250, 225, 125, 0.5);
    --gs-editorCursor-foreground: #0969da;
    --gs-editorMultiCursor-primary-foreground: #0969da;
    --gs-editorMultiCursor-secondary-foreground: #0969da;
    --gs-editorWhitespace-foreground: #afb8c1;
    --gs-editorLineNumber-foreground: #8c959f;
    --gs-editorIndentGuide-background: rgba(31, 35, 40, 0.12);
    --gs-editorIndentGuide-activeBackground: rgba(31, 35, 40, 0.24);
    --gs-editorIndentGuide-background1: rgba(31, 35, 40, 0.12);
    --gs-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --gs-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --gs-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --gs-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --gs-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --gs-editorIndentGuide-activeBackground1: rgba(31, 35, 40, 0.24);
    --gs-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --gs-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --gs-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --gs-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --gs-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --gs-editorActiveLineNumber-foreground: #0b216f;
    --gs-editorLineNumber-activeForeground: #1f2328;
    --gs-editorRuler-foreground: #d3d3d3;
    --gs-editorCodeLens-foreground: #919191;
    --gs-editorBracketMatch-background: rgba(74, 194, 107, 0.25);
    --gs-editorBracketMatch-border: rgba(74, 194, 107, 0.6);
    --gs-editorOverviewRuler-border: #ffffff;
    --gs-editorGutter-background: #ffffff;
    --gs-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.47);
    --gs-editorGhostText-foreground: rgba(0, 0, 0, 0.47);
    --gs-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --gs-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --gs-editorOverviewRuler-warningForeground: #bf8803;
    --gs-editorOverviewRuler-infoForeground: #0063d3;
    --gs-editorBracketHighlight-foreground1: #0969da;
    --gs-editorBracketHighlight-foreground2: #1a7f37;
    --gs-editorBracketHighlight-foreground3: #9a6700;
    --gs-editorBracketHighlight-foreground4: #cf222e;
    --gs-editorBracketHighlight-foreground5: #bf3989;
    --gs-editorBracketHighlight-foreground6: #8250df;
    --gs-editorBracketHighlight-unexpectedBracket-foreground: #656d76;
    --gs-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --gs-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --gs-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --gs-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --gs-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --gs-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --gs-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --gs-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --gs-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --gs-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --gs-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --gs-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --gs-editorUnicodeHighlight-border: #bf8803;
    --gs-diffEditor-move-border: rgba(139, 139, 139, 0.61);
    --gs-diffEditor-moveActive-border: #ffa500;
    --gs-diffEditor-unchangedRegionShadow: rgba(115, 115, 115, 0.75);
    --gs-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --gs-actionBar-toggledBackground: rgba(9, 105, 218, 0.2);
    --gs-symbolIcon-arrayForeground: #953800;
    --gs-symbolIcon-booleanForeground: #0550ae;
    --gs-symbolIcon-classForeground: #953800;
    --gs-symbolIcon-colorForeground: #0a3069;
    --gs-symbolIcon-constantForeground: #116329;
    --gs-symbolIcon-constructorForeground: #3e1f79;
    --gs-symbolIcon-enumeratorForeground: #953800;
    --gs-symbolIcon-enumeratorMemberForeground: #0550ae;
    --gs-symbolIcon-eventForeground: #57606a;
    --gs-symbolIcon-fieldForeground: #953800;
    --gs-symbolIcon-fileForeground: #7d4e00;
    --gs-symbolIcon-folderForeground: #7d4e00;
    --gs-symbolIcon-functionForeground: #6639ba;
    --gs-symbolIcon-interfaceForeground: #953800;
    --gs-symbolIcon-keyForeground: #0550ae;
    --gs-symbolIcon-keywordForeground: #a40e26;
    --gs-symbolIcon-methodForeground: #6639ba;
    --gs-symbolIcon-moduleForeground: #a40e26;
    --gs-symbolIcon-namespaceForeground: #a40e26;
    --gs-symbolIcon-nullForeground: #0550ae;
    --gs-symbolIcon-numberForeground: #116329;
    --gs-symbolIcon-objectForeground: #953800;
    --gs-symbolIcon-operatorForeground: #0a3069;
    --gs-symbolIcon-packageForeground: #953800;
    --gs-symbolIcon-propertyForeground: #953800;
    --gs-symbolIcon-referenceForeground: #0550ae;
    --gs-symbolIcon-snippetForeground: #0550ae;
    --gs-symbolIcon-stringForeground: #0a3069;
    --gs-symbolIcon-structForeground: #953800;
    --gs-symbolIcon-textForeground: #0a3069;
    --gs-symbolIcon-typeParameterForeground: #0a3069;
    --gs-symbolIcon-unitForeground: #0550ae;
    --gs-symbolIcon-variableForeground: #953800;
    --gs-peekViewTitle-background: #f3f3f3;
    --gs-peekViewTitleLabel-foreground: #000000;
    --gs-peekViewTitleDescription-foreground: #616161;
    --gs-peekView-border: #0063d3;
    --gs-peekViewResult-background: #f3f3f3;
    --gs-peekViewResult-lineForeground: #646465;
    --gs-peekViewResult-fileForeground: #1e1e1e;
    --gs-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
    --gs-peekViewResult-selectionForeground: #6c6c6c;
    --gs-peekViewEditor-background: #f2f8fc;
    --gs-peekViewEditorGutter-background: #f2f8fc;
    --gs-peekViewEditorStickyScroll-background: #f2f8fc;
    --gs-peekViewEditorStickyScrollGutter-background: #f2f8fc;
    --gs-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
    --gs-peekViewEditor-matchHighlightBackground: rgba(245, 216, 2, 0.87);
    --gs-editorMarkerNavigationError-background: #e51400;
    --gs-editorMarkerNavigationError-headerBackground: rgba(229, 20, 0, 0.1);
    --gs-editorMarkerNavigationWarning-background: #bf8803;
    --gs-editorMarkerNavigationWarning-headerBackground: rgba(191, 136, 3, 0.1);
    --gs-editorMarkerNavigationInfo-background: #0063d3;
    --gs-editorMarkerNavigationInfo-headerBackground: rgba(0, 99, 211, 0.1);
    --gs-editorMarkerNavigation-background: #ffffff;
    --gs-editor-foldBackground: rgba(110, 119, 129, 0.1);
    --gs-editor-foldPlaceholderForeground: #808080;
    --gs-editorGutter-foldingControlForeground: #656d76;
    --gs-editorSuggestWidget-background: #ffffff;
    --gs-editorSuggestWidget-border: #c8c8c8;
    --gs-editorSuggestWidget-foreground: #1f2328;
    --gs-editorSuggestWidget-selectedForeground: #1f2328;
    --gs-editorSuggestWidget-selectedBackground: rgba(175, 184, 193, 0.2);
    --gs-editorSuggestWidget-highlightForeground: #0969da;
    --gs-editorSuggestWidget-focusHighlightForeground: #0969da;
    --gs-editorSuggestWidgetStatus-foreground: rgba(31, 35, 40, 0.5);
    --gs-inlineEdit-originalBackground: rgba(255, 129, 130, 0.08);
    --gs-inlineEdit-modifiedBackground: rgba(111, 221, 139, 0.15);
    --gs-inlineEdit-originalChangedLineBackground: rgba(255, 129, 130, 0.32);
    --gs-inlineEdit-originalChangedTextBackground: rgba(255, 129, 130, 0.32);
    --gs-inlineEdit-modifiedChangedLineBackground: rgba(172, 238, 187, 0.21);
    --gs-inlineEdit-modifiedChangedTextBackground: rgba(111, 221, 139, 0.35);
    --gs-inlineEdit-gutterIndicator-primaryForeground: #ffffff;
    --gs-inlineEdit-gutterIndicator-primaryBorder: #1f883d;
    --gs-inlineEdit-gutterIndicator-primaryBackground: rgba(31, 136, 61, 0.5);
    --gs-inlineEdit-gutterIndicator-secondaryForeground: #24292f;
    --gs-inlineEdit-gutterIndicator-secondaryBorder: #ebecf0;
    --gs-inlineEdit-gutterIndicator-secondaryBackground: #ebecf0;
    --gs-inlineEdit-gutterIndicator-successfulForeground: #ffffff;
    --gs-inlineEdit-gutterIndicator-successfulBorder: #1f883d;
    --gs-inlineEdit-gutterIndicator-successfulBackground: #1f883d;
    --gs-inlineEdit-gutterIndicator-background: rgba(95, 95, 95, 0.09);
    --gs-inlineEdit-originalBorder: rgba(255, 129, 130, 0.4);
    --gs-inlineEdit-modifiedBorder: rgba(25, 107, 46, 0.5);
    --gs-inlineEdit-tabWillAcceptModifiedBorder: rgba(25, 107, 46, 0.5);
    --gs-inlineEdit-tabWillAcceptOriginalBorder: rgba(255, 129, 129, 0.4);
    --gs-editor-linkedEditingBackground: rgba(9, 105, 218, 0.07);
    --gs-editor-wordHighlightBackground: rgba(234, 238, 242, 0.5);
    --gs-editor-wordHighlightStrongBackground: rgba(175, 184, 193, 0.3);
    --gs-editor-wordHighlightTextBackground: rgba(234, 238, 242, 0.5);
    --gs-editor-wordHighlightBorder: rgba(175, 184, 193, 0.6);
    --gs-editor-wordHighlightStrongBorder: rgba(175, 184, 193, 0.6);
    --gs-editor-wordHighlightTextBorder: rgba(175, 184, 193, 0.6);
    --gs-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --gs-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --gs-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --gs-editorHoverWidget-highlightForeground: #0969da;
    --gs-editor-placeholder-foreground: rgba(0, 0, 0, 0.47);
    --gs-tab-activeBackground: #ffffff;
    --gs-tab-unfocusedActiveBackground: #ffffff;
    --gs-tab-inactiveBackground: #f6f8fa;
    --gs-tab-unfocusedInactiveBackground: #f6f8fa;
    --gs-tab-activeForeground: #1f2328;
    --gs-tab-inactiveForeground: #656d76;
    --gs-tab-unfocusedActiveForeground: rgba(31, 35, 40, 0.7);
    --gs-tab-unfocusedInactiveForeground: rgba(101, 109, 118, 0.5);
    --gs-tab-hoverBackground: #ffffff;
    --gs-tab-unfocusedHoverBackground: rgba(234, 238, 242, 0.5);
    --gs-tab-border: #d0d7de;
    --gs-tab-lastPinnedBorder: #d8dee4;
    --gs-tab-activeBorder: #ffffff;
    --gs-tab-unfocusedActiveBorder: #ffffff;
    --gs-tab-activeBorderTop: #fd8c73;
    --gs-tab-unfocusedActiveBorderTop: #d0d7de;
    --gs-tab-selectedBorderTop: #fd8c73;
    --gs-tab-selectedBackground: #ffffff;
    --gs-tab-selectedForeground: #1f2328;
    --gs-tab-dragAndDropBorder: #1f2328;
    --gs-tab-activeModifiedBorder: #33aaee;
    --gs-tab-inactiveModifiedBorder: rgba(51, 170, 238, 0.5);
    --gs-tab-unfocusedActiveModifiedBorder: rgba(51, 170, 238, 0.7);
    --gs-tab-unfocusedInactiveModifiedBorder: rgba(51, 170, 238, 0.25);
    --gs-editorPane-background: #ffffff;
    --gs-editorGroupHeader-tabsBackground: #f6f8fa;
    --gs-editorGroupHeader-tabsBorder: #d0d7de;
    --gs-editorGroupHeader-noTabsBackground: #ffffff;
    --gs-editorGroup-border: #d0d7de;
    --gs-editorGroup-dropBackground: rgba(38, 119, 203, 0.18);
    --gs-editorGroup-dropIntoPromptForeground: #1f2328;
    --gs-editorGroup-dropIntoPromptBackground: #ffffff;
    --gs-sideBySideEditor-horizontalBorder: #d0d7de;
    --gs-sideBySideEditor-verticalBorder: #d0d7de;
    --gs-banner-background: rgba(113, 129, 145, 0.2);
    --gs-banner-foreground: #1f2328;
    --gs-banner-iconForeground: #0063d3;
    --gs-statusBar-foreground: #656d76;
    --gs-statusBar-noFolderForeground: #656d76;
    --gs-statusBar-background: #ffffff;
    --gs-statusBar-noFolderBackground: #ffffff;
    --gs-statusBar-border: #d0d7de;
    --gs-statusBar-focusBorder: rgba(9, 105, 218, 0.5);
    --gs-statusBar-noFolderBorder: #d0d7de;
    --gs-statusBarItem-activeBackground: rgba(31, 35, 40, 0.12);
    --gs-statusBarItem-focusBorder: #0969da;
    --gs-statusBarItem-hoverBackground: rgba(31, 35, 40, 0.08);
    --gs-statusBarItem-hoverForeground: #656d76;
    --gs-statusBarItem-compactHoverBackground: rgba(0, 0, 0, 0.12);
    --gs-statusBarItem-prominentForeground: #656d76;
    --gs-statusBarItem-prominentBackground: rgba(175, 184, 193, 0.2);
    --gs-statusBarItem-prominentHoverForeground: #656d76;
    --gs-statusBarItem-prominentHoverBackground: rgba(31, 35, 40, 0.08);
    --gs-statusBarItem-errorBackground: #7c141b;
    --gs-statusBarItem-errorForeground: #ffffff;
    --gs-statusBarItem-errorHoverForeground: #656d76;
    --gs-statusBarItem-errorHoverBackground: rgba(31, 35, 40, 0.08);
    --gs-statusBarItem-warningBackground: #725102;
    --gs-statusBarItem-warningForeground: #ffffff;
    --gs-statusBarItem-warningHoverForeground: #656d76;
    --gs-statusBarItem-warningHoverBackground: rgba(31, 35, 40, 0.08);
    --gs-activityBar-background: #ffffff;
    --gs-activityBar-foreground: #1f2328;
    --gs-activityBar-inactiveForeground: #656d76;
    --gs-activityBar-border: #d0d7de;
    --gs-activityBar-activeBorder: #fd8c73;
    --gs-activityBar-dropBorder: #1f2328;
    --gs-activityBarBadge-background: #0969da;
    --gs-activityBarBadge-foreground: #ffffff;
    --gs-activityBarTop-foreground: #424242;
    --gs-activityBarTop-activeBorder: #424242;
    --gs-activityBarTop-inactiveForeground: rgba(66, 66, 66, 0.75);
    --gs-activityBarTop-dropBorder: #424242;
    --gs-panel-background: #f6f8fa;
    --gs-panel-border: #d0d7de;
    --gs-panelTitle-activeForeground: #1f2328;
    --gs-panelTitle-inactiveForeground: #656d76;
    --gs-panelTitle-activeBorder: #fd8c73;
    --gs-panelTitleBadge-background: #0969da;
    --gs-panelTitleBadge-foreground: #ffffff;
    --gs-panelInput-border: #d0d7de;
    --gs-panel-dropBorder: #1f2328;
    --gs-panelSection-dropBackground: rgba(38, 119, 203, 0.18);
    --gs-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --gs-panelSection-border: #d0d7de;
    --gs-panelStickyScroll-background: #f6f8fa;
    --gs-panelStickyScroll-shadow: rgba(110, 119, 129, 0.2);
    --gs-profileBadge-background: #c4c4c4;
    --gs-profileBadge-foreground: #333333;
    --gs-statusBarItem-remoteBackground: #eaeef2;
    --gs-statusBarItem-remoteForeground: #1f2328;
    --gs-statusBarItem-remoteHoverForeground: #656d76;
    --gs-statusBarItem-remoteHoverBackground: rgba(31, 35, 40, 0.08);
    --gs-statusBarItem-offlineBackground: #6c1717;
    --gs-statusBarItem-offlineForeground: #1f2328;
    --gs-statusBarItem-offlineHoverForeground: #656d76;
    --gs-statusBarItem-offlineHoverBackground: rgba(31, 35, 40, 0.08);
    --gs-extensionBadge-remoteBackground: #0969da;
    --gs-extensionBadge-remoteForeground: #ffffff;
    --gs-sideBar-background: #f6f8fa;
    --gs-sideBar-foreground: #1f2328;
    --gs-sideBar-border: #d0d7de;
    --gs-sideBarTitle-background: #f6f8fa;
    --gs-sideBarTitle-foreground: #1f2328;
    --gs-sideBar-dropBackground: rgba(38, 119, 203, 0.18);
    --gs-sideBarSectionHeader-background: #f6f8fa;
    --gs-sideBarSectionHeader-foreground: #1f2328;
    --gs-sideBarSectionHeader-border: #d0d7de;
    --gs-sideBarActivityBarTop-border: #d0d7de;
    --gs-sideBarStickyScroll-background: #f6f8fa;
    --gs-sideBarStickyScroll-shadow: rgba(110, 119, 129, 0.2);
    --gs-titleBar-activeForeground: #656d76;
    --gs-titleBar-inactiveForeground: #656d76;
    --gs-titleBar-activeBackground: #ffffff;
    --gs-titleBar-inactiveBackground: #f6f8fa;
    --gs-titleBar-border: #d0d7de;
    --gs-menubar-selectionForeground: #656d76;
    --gs-menubar-selectionBackground: rgba(184, 184, 184, 0.31);
    --gs-commandCenter-foreground: #656d76;
    --gs-commandCenter-activeForeground: #656d76;
    --gs-commandCenter-inactiveForeground: #656d76;
    --gs-commandCenter-background: rgba(0, 0, 0, 0.05);
    --gs-commandCenter-activeBackground: rgba(0, 0, 0, 0.08);
    --gs-commandCenter-border: rgba(101, 109, 118, 0.2);
    --gs-commandCenter-activeBorder: rgba(101, 109, 118, 0.3);
    --gs-commandCenter-inactiveBorder: rgba(101, 109, 118, 0.25);
    --gs-notifications-foreground: #1f2328;
    --gs-notifications-background: #ffffff;
    --gs-notificationLink-foreground: #0969da;
    --gs-notificationCenterHeader-foreground: #656d76;
    --gs-notificationCenterHeader-background: #f6f8fa;
    --gs-notifications-border: #d0d7de;
    --gs-notificationsErrorIcon-foreground: #cf222e;
    --gs-notificationsWarningIcon-foreground: #9a6700;
    --gs-notificationsInfoIcon-foreground: #0969da;
    --gs-editorGutter-modifiedBackground: rgba(212, 167, 44, 0.4);
    --gs-editorGutter-modifiedSecondaryBackground: rgba(242, 229, 193, 0.4);
    --gs-editorGutter-addedBackground: rgba(74, 194, 107, 0.4);
    --gs-editorGutter-addedSecondaryBackground: rgba(214, 241, 222, 0.4);
    --gs-editorGutter-deletedBackground: rgba(255, 129, 130, 0.4);
    --gs-editorGutter-deletedSecondaryBackground: rgba(255, 244, 244, 0.4);
    --gs-minimapGutter-modifiedBackground: rgba(212, 167, 44, 0.4);
    --gs-minimapGutter-addedBackground: rgba(74, 194, 107, 0.4);
    --gs-minimapGutter-deletedBackground: rgba(255, 129, 130, 0.4);
    --gs-editorOverviewRuler-modifiedForeground: rgba(212, 167, 44, 0.24);
    --gs-editorOverviewRuler-addedForeground: rgba(74, 194, 107, 0.24);
    --gs-editorOverviewRuler-deletedForeground: rgba(255, 129, 130, 0.24);
    --gs-editorGutter-itemGlyphForeground: #1f2328;
    --gs-editorGutter-itemBackground: #e2e4e7;
    --gs-terminal-foreground: #1f2328;
    --gs-terminal-selectionBackground: #add6ff;
    --gs-terminal-inactiveSelectionBackground: rgba(173, 214, 255, 0.5);
    --gs-terminalCommandDecoration-defaultBackground: rgba(0, 0, 0, 0.25);
    --gs-terminalCommandDecoration-successBackground: #2090d3;
    --gs-terminalCommandDecoration-errorBackground: #e51400;
    --gs-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --gs-terminal-border: #d0d7de;
    --gs-terminalOverviewRuler-border: #ffffff;
    --gs-terminal-findMatchBackground: #bf8700;
    --gs-terminal-hoverHighlightBackground: rgba(173, 214, 255, 0.07);
    --gs-terminal-findMatchHighlightBackground: rgba(250, 225, 125, 0.5);
    --gs-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --gs-terminal-dropBackground: rgba(38, 119, 203, 0.18);
    --gs-terminal-tab-activeBorder: #ffffff;
    --gs-terminal-initialHintForeground: rgba(0, 0, 0, 0.47);
    --gs-scmGraph-historyItemRefColor: #0063d3;
    --gs-scmGraph-historyItemRemoteRefColor: #652d90;
    --gs-scmGraph-historyItemBaseRefColor: #ea5c00;
    --gs-scmGraph-historyItemHoverDefaultLabelForeground: #1f2328;
    --gs-scmGraph-historyItemHoverDefaultLabelBackground: #0969da;
    --gs-scmGraph-historyItemHoverLabelForeground: #f6f8fa;
    --gs-scmGraph-historyItemHoverAdditionsForeground: #587c0c;
    --gs-scmGraph-historyItemHoverDeletionsForeground: #ad0707;
    --gs-scmGraph-foreground1: #ffb000;
    --gs-scmGraph-foreground2: #dc267f;
    --gs-scmGraph-foreground3: #994f00;
    --gs-scmGraph-foreground4: #40b0a6;
    --gs-scmGraph-foreground5: #b66dff;
    --gs-commentsView-resolvedIcon: rgba(97, 97, 97, 0.5);
    --gs-commentsView-unresolvedIcon: #0969da;
    --gs-editorCommentsWidget-replyInputBackground: #f3f3f3;
    --gs-editorCommentsWidget-resolvedBorder: rgba(97, 97, 97, 0.5);
    --gs-editorCommentsWidget-unresolvedBorder: #0969da;
    --gs-editorCommentsWidget-rangeBackground: rgba(9, 105, 218, 0.1);
    --gs-editorCommentsWidget-rangeActiveBackground: rgba(9, 105, 218, 0.1);
    --gs-editorGutter-commentRangeForeground: #e2e4e7;
    --gs-editorOverviewRuler-commentForeground: #e2e4e7;
    --gs-editorOverviewRuler-commentUnresolvedForeground: #e2e4e7;
    --gs-editorOverviewRuler-commentDraftForeground: #e2e4e7;
    --gs-editorGutter-commentGlyphForeground: #1f2328;
    --gs-editorGutter-commentUnresolvedGlyphForeground: #1f2328;
    --gs-editorGutter-commentDraftGlyphForeground: #1f2328;
    --gs-agentSessionReadIndicator-foreground: rgba(31, 35, 40, 0.15);
    --gs-agentSessionSelectedBadge-border: rgba(31, 35, 40, 0.3);
    --gs-agentSessionSelectedUnfocusedBadge-border: rgba(31, 35, 40, 0.3);
    --gs-ports-iconRunningProcessForeground: #eaeef2;
    --gs-settings-headerForeground: #1f2328;
    --gs-settings-settingsHeaderHoverForeground: rgba(31, 35, 40, 0.7);
    --gs-settings-modifiedItemIndicator: rgba(212, 167, 44, 0.4);
    --gs-settings-headerBorder: #d0d7de;
    --gs-settings-sashBorder: #d0d7de;
    --gs-settings-dropdownBackground: #ffffff;
    --gs-settings-dropdownForeground: #1f2328;
    --gs-settings-dropdownBorder: #d0d7de;
    --gs-settings-dropdownListBorder: #c8c8c8;
    --gs-settings-checkboxBackground: #f6f8fa;
    --gs-settings-checkboxForeground: #1f2328;
    --gs-settings-checkboxBorder: #d0d7de;
    --gs-settings-textInputBackground: #ffffff;
    --gs-settings-textInputForeground: #1f2328;
    --gs-settings-textInputBorder: #d0d7de;
    --gs-settings-numberInputBackground: #ffffff;
    --gs-settings-numberInputForeground: #1f2328;
    --gs-settings-numberInputBorder: #d0d7de;
    --gs-settings-focusedRowBackground: rgba(234, 238, 242, 0.3);
    --gs-settings-rowHoverBackground: rgba(234, 238, 242, 0.15);
    --gs-settings-focusedRowBorder: #0969da;
    --gs-keybindingTable-headerBackground: rgba(31, 35, 40, 0.04);
    --gs-keybindingTable-rowsBackground: rgba(31, 35, 40, 0.04);
    --gs-extensionButton-background: #ebecf0;
    --gs-extensionButton-foreground: #24292f;
    --gs-extensionButton-hoverBackground: #f3f4f6;
    --gs-extensionButton-separator: rgba(255, 255, 255, 0.4);
    --gs-extensionButton-prominentBackground: #1f883d;
    --gs-extensionButton-prominentForeground: #ffffff;
    --gs-extensionButton-prominentHoverBackground: #1a7f37;
    --gs-debugToolBar-background: #ffffff;
    --gs-debugIcon-startForeground: #388a34;
    --gs-notebook-cellBorderColor: rgba(175, 184, 193, 0.2);
    --gs-notebook-focusedEditorBorder: #0969da;
    --gs-notebookStatusSuccessIcon-foreground: #388a34;
    --gs-notebookEditorOverviewRuler-runningCellForeground: #388a34;
    --gs-notebookStatusErrorIcon-foreground: #cf222e;
    --gs-notebookStatusRunningIcon-foreground: #1f2328;
    --gs-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --gs-notebook-selectedCellBackground: rgba(175, 184, 193, 0.2);
    --gs-notebook-selectedCellBorder: rgba(175, 184, 193, 0.2);
    --gs-notebook-focusedCellBorder: #0969da;
    --gs-notebook-inactiveFocusedCellBorder: rgba(175, 184, 193, 0.2);
    --gs-notebook-cellStatusBarItemHoverBackground: rgba(0, 0, 0, 0.08);
    --gs-notebook-cellInsertionIndicator: #0969da;
    --gs-notebookScrollbarSlider-background: rgba(140, 149, 159, 0.2);
    --gs-notebookScrollbarSlider-hoverBackground: rgba(140, 149, 159, 0.24);
    --gs-notebookScrollbarSlider-activeBackground: rgba(140, 149, 159, 0.28);
    --gs-notebook-symbolHighlightBackground: rgba(253, 255, 0, 0.2);
    --gs-notebook-cellEditorBackground: #f6f8fa;
    --gs-notebook-editorBackground: #ffffff;
    --gs-inlineChat-foreground: #1f2328;
    --gs-inlineChat-background: #ffffff;
    --gs-inlineChat-border: #c8c8c8;
    --gs-inlineChat-shadow: rgba(0, 0, 0, 0.16);
    --gs-inlineChatInput-border: #c8c8c8;
    --gs-inlineChatInput-focusBorder: #0969da;
    --gs-inlineChatInput-placeholderForeground: #6e7781;
    --gs-inlineChatInput-background: #ffffff;
    --gs-inlineChatDiff-inserted: rgba(111, 221, 139, 0.25);
    --gs-editorOverviewRuler-inlineChatInserted: rgba(111, 221, 139, 0.4);
    --gs-editorMinimap-inlineChatInserted: rgba(111, 221, 139, 0.4);
    --gs-inlineChatDiff-removed: rgba(255, 129, 130, 0.2);
    --gs-editorOverviewRuler-inlineChatRemoved: rgba(255, 129, 130, 0.32);
    --gs-extensionIcon-verifiedForeground: #0969da;
    --gs-chat-requestBorder: rgba(0, 0, 0, 0.1);
    --gs-chat-requestBackground: rgba(255, 255, 255, 0.62);
    --gs-chat-slashCommandBackground: rgba(173, 206, 255, 0.48);
    --gs-chat-slashCommandForeground: #26569e;
    --gs-chat-avatarBackground: #f2f2f2;
    --gs-chat-avatarForeground: #1f2328;
    --gs-chat-editedFileForeground: #895503;
    --gs-chat-requestCodeBorder: rgba(14, 99, 156, 0.25);
    --gs-chat-requestBubbleBackground: rgba(173, 214, 255, 0.3);
    --gs-chat-requestBubbleHoverBackground: rgba(173, 214, 255, 0.6);
    --gs-chat-checkpointSeparator: #a9a9a9;
    --gs-chat-linesAddedForeground: #107c10;
    --gs-chat-linesRemovedForeground: #bc2f32;
    --gs-extensionIcon-starForeground: #df6100;
    --gs-extensionIcon-preReleaseForeground: #1d9271;
    --gs-extensionIcon-sponsorForeground: #b51e78;
    --gs-extensionIcon-privateForeground: rgba(0, 0, 0, 0.38);
    --gs-debugExceptionWidget-border: #a31515;
    --gs-debugExceptionWidget-background: #f1dfde;
    --gs-editor-inlineValuesForeground: rgba(0, 0, 0, 0.5);
    --gs-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --gs-debugIcon-breakpointForeground: #cf222e;
    --gs-debugIcon-breakpointDisabledForeground: #848484;
    --gs-debugIcon-breakpointUnverifiedForeground: #848484;
    --gs-debugIcon-breakpointCurrentStackframeForeground: #be8700;
    --gs-debugIcon-breakpointStackframeForeground: #89d185;
    --gs-editor-stackFrameHighlightBackground: rgba(212, 167, 44, 0.4);
    --gs-editor-focusedStackFrameHighlightBackground: rgba(74, 194, 107, 0.4);
    --gs-multiDiffEditor-headerBackground: #f6f8fa;
    --gs-multiDiffEditor-background: #ffffff;
    --gs-multiDiffEditor-border: #cccccc;
    --gs-minimap-chatEditHighlight: rgba(255, 255, 255, 0.6);
    --gs-chatManagement-sashBorder: #d0d7de;
    --gs-gauge-foreground: #007acc;
    --gs-gauge-background: rgba(0, 122, 204, 0.3);
    --gs-gauge-warningForeground: #b89500;
    --gs-gauge-warningBackground: rgba(184, 149, 0, 0.3);
    --gs-gauge-errorForeground: #be1100;
    --gs-gauge-errorBackground: rgba(190, 17, 0, 0.3);
    --gs-mcpIcon-starForeground: #df6100;
    --gs-interactive-activeCodeBorder: #007acc;
    --gs-interactive-inactiveCodeBorder: rgba(175, 184, 193, 0.2);
    --gs-testing-iconFailed: #f14c4c;
    --gs-testing-iconErrored: #f14c4c;
    --gs-testing-iconPassed: #73c991;
    --gs-testing-runAction: #73c991;
    --gs-testing-iconQueued: #cca700;
    --gs-testing-iconUnset: #848484;
    --gs-testing-iconSkipped: #848484;
    --gs-testing-peekBorder: #e51400;
    --gs-testing-messagePeekBorder: #0063d3;
    --gs-testing-peekHeaderBackground: rgba(229, 20, 0, 0.1);
    --gs-testing-messagePeekHeaderBackground: rgba(0, 99, 211, 0.1);
    --gs-testing-coveredBackground: rgba(111, 221, 139, 0.5);
    --gs-testing-coveredBorder: rgba(111, 221, 139, 0.38);
    --gs-testing-coveredGutterBackground: rgba(111, 221, 139, 0.3);
    --gs-testing-uncoveredBranchBackground: #ff9a9b;
    --gs-testing-uncoveredBackground: rgba(255, 129, 130, 0.4);
    --gs-testing-uncoveredBorder: rgba(255, 129, 130, 0.3);
    --gs-testing-uncoveredGutterBackground: rgba(255, 129, 130, 0.6);
    --gs-testing-coverCountBadgeBackground: #0969da;
    --gs-testing-coverCountBadgeForeground: #ffffff;
    --gs-testing-message-error-badgeBackground: #e51400;
    --gs-testing-message-error-badgeBorder: #e51400;
    --gs-testing-message-error-badgeForeground: #ffffff;
    --gs-testing-message-info-decorationForeground: rgba(31, 35, 40, 0.5);
    --gs-testing-iconErrored-retired: rgba(241, 76, 76, 0.7);
    --gs-testing-iconFailed-retired: rgba(241, 76, 76, 0.7);
    --gs-testing-iconPassed-retired: rgba(115, 201, 145, 0.7);
    --gs-testing-iconQueued-retired: rgba(204, 167, 0, 0.7);
    --gs-testing-iconUnset-retired: rgba(132, 132, 132, 0.7);
    --gs-testing-iconSkipped-retired: rgba(132, 132, 132, 0.7);
    --gs-searchEditor-textInputBorder: #d0d7de;
    --gs-statusBar-debuggingBackground: #cf222e;
    --gs-statusBar-debuggingForeground: #ffffff;
    --gs-statusBar-debuggingBorder: #d0d7de;
    --gs-commandCenter-debuggingBackground: rgba(207, 34, 46, 0.26);
    --gs-debugTokenExpression-name: #0550ae;
    --gs-debugTokenExpression-type: #4a90e2;
    --gs-debugTokenExpression-value: #0a3069;
    --gs-debugTokenExpression-string: #0a3069;
    --gs-debugTokenExpression-boolean: #116329;
    --gs-debugTokenExpression-number: #116329;
    --gs-debugTokenExpression-error: #a40e26;
    --gs-debugView-exceptionLabelForeground: #ffffff;
    --gs-debugView-exceptionLabelBackground: #a31515;
    --gs-debugView-stateLabelForeground: #1f2328;
    --gs-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --gs-debugView-valueChangedHighlight: #569cd6;
    --gs-debugConsole-infoForeground: #57606a;
    --gs-debugConsole-warningForeground: #7d4e00;
    --gs-debugConsole-errorForeground: #cf222e;
    --gs-debugConsole-sourceForeground: #9a6700;
    --gs-debugConsoleInputIcon-foreground: #6639ba;
    --gs-debugIcon-pauseForeground: #007acc;
    --gs-debugIcon-stopForeground: #a1260d;
    --gs-debugIcon-disconnectForeground: #a1260d;
    --gs-debugIcon-restartForeground: #388a34;
    --gs-debugIcon-stepOverForeground: #007acc;
    --gs-debugIcon-stepIntoForeground: #007acc;
    --gs-debugIcon-stepOutForeground: #007acc;
    --gs-debugIcon-continueForeground: #007acc;
    --gs-debugIcon-stepBackForeground: #007acc;
    --gs-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
    --gs-mergeEditor-change-word-background: rgba(156, 204, 44, 0.4);
    --gs-mergeEditor-changeBase-background: #ffcccc;
    --gs-mergeEditor-changeBase-word-background: #ffa3a3;
    --gs-mergeEditor-conflict-unhandledUnfocused-border: #ffa600;
    --gs-mergeEditor-conflict-unhandledFocused-border: #ffa600;
    --gs-mergeEditor-conflict-handledUnfocused-border: rgba(134, 134, 134, 0.29);
    --gs-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
    --gs-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --gs-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
    --gs-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
    --gs-mergeEditor-conflict-input1-background: rgba(64, 200, 174, 0.2);
    --gs-mergeEditor-conflict-input2-background: rgba(64, 166, 255, 0.2);
    --gs-terminal-ansiBlack: #24292f;
    --gs-terminal-ansiRed: #cf222e;
    --gs-terminal-ansiGreen: #116329;
    --gs-terminal-ansiYellow: #4d2d00;
    --gs-terminal-ansiBlue: #0969da;
    --gs-terminal-ansiMagenta: #8250df;
    --gs-terminal-ansiCyan: #1b7c83;
    --gs-terminal-ansiWhite: #6e7781;
    --gs-terminal-ansiBrightBlack: #57606a;
    --gs-terminal-ansiBrightRed: #a40e26;
    --gs-terminal-ansiBrightGreen: #1a7f37;
    --gs-terminal-ansiBrightYellow: #633c01;
    --gs-terminal-ansiBrightBlue: #218bff;
    --gs-terminal-ansiBrightMagenta: #a475f9;
    --gs-terminal-ansiBrightCyan: #3192aa;
    --gs-terminal-ansiBrightWhite: #8c959f;
    --gs-simpleFindWidget-sashBorder: #c8c8c8;
    --gs-terminalStickyScrollHover-background: #f0f0f0;
    --gs-terminalCommandGuide-foreground: rgba(175, 184, 193, 0.2);
    --gs-terminalSymbolIcon-flagForeground: #953800;
    --gs-terminalSymbolIcon-aliasForeground: #6639ba;
    --gs-terminalSymbolIcon-optionValueForeground: #0550ae;
    --gs-terminalSymbolIcon-methodForeground: #6639ba;
    --gs-terminalSymbolIcon-argumentForeground: #953800;
    --gs-terminalSymbolIcon-optionForeground: #953800;
    --gs-terminalSymbolIcon-fileForeground: #7d4e00;
    --gs-terminalSymbolIcon-folderForeground: #7d4e00;
    --gs-terminalSymbolIcon-commitForeground: #7d4e00;
    --gs-terminalSymbolIcon-branchForeground: #7d4e00;
    --gs-terminalSymbolIcon-tagForeground: #7d4e00;
    --gs-terminalSymbolIcon-stashForeground: #7d4e00;
    --gs-terminalSymbolIcon-remoteForeground: #7d4e00;
    --gs-terminalSymbolIcon-pullRequestForeground: #7d4e00;
    --gs-terminalSymbolIcon-pullRequestDoneForeground: #7d4e00;
    --gs-terminalSymbolIcon-symbolicLinkFileForeground: #7d4e00;
    --gs-terminalSymbolIcon-symbolicLinkFolderForeground: #7d4e00;
    --gs-terminalSymbolIcon-symbolText: #7d4e00;
    --gs-markdownAlert-note-foreground: #0063d3;
    --gs-markdownAlert-tip-foreground: #388a34;
    --gs-markdownAlert-important-foreground: #652d90;
    --gs-markdownAlert-warning-foreground: #bf8803;
    --gs-markdownAlert-caution-foreground: #e51400;
    --gs-welcomePage-tileBackground: #ffffff;
    --gs-welcomePage-tileHoverBackground: #e6e6e6;
    --gs-welcomePage-tileBorder: rgba(0, 0, 0, 0.1);
    --gs-welcomePage-progress-background: #ffffff;
    --gs-welcomePage-progress-foreground: #0969da;
    --gs-walkthrough-stepTitle-foreground: #000000;
    --gs-walkThrough-embeddedEditorBackground: #f4f4f4;
    --gs-profiles-sashBorder: #d0d7de;
    --gs-gitDecoration-addedResourceForeground: #1a7f37;
    --gs-gitDecoration-modifiedResourceForeground: #9a6700;
    --gs-gitDecoration-deletedResourceForeground: #cf222e;
    --gs-gitDecoration-renamedResourceForeground: #007100;
    --gs-gitDecoration-untrackedResourceForeground: #1a7f37;
    --gs-gitDecoration-ignoredResourceForeground: #6e7781;
    --gs-gitDecoration-stageModifiedResourceForeground: #895503;
    --gs-gitDecoration-stageDeletedResourceForeground: #ad0707;
    --gs-gitDecoration-conflictingResourceForeground: #bc4c00;
    --gs-gitDecoration-submoduleResourceForeground: #656d76;
    --gs-git-blame-editorDecorationForeground: #656d76;
    --gs-issues-newIssueDecoration: rgba(0, 0, 0, 0.28);
    --gs-issues-open: #3fb950;
    --gs-issues-closed: #8957e5;
    --gs-github-issues-closed: #8957e5;
    --gs-pullRequests-merged: #8957e5;
    --gs-pullRequests-draft: #6e7681;
    --gs-pullRequests-open: #3fb950;
    --gs-pullRequests-closed: #cb2431;
    --gs-pullRequests-notification: #0969da;
    --gs-bodyFontSize: 13px;
    --gs-bodyFontSize-small: 12px;
    --gs-bodyFontSize-xSmall: 11px;
    --gs-codiconFontSize: 16px;
    --gs-cornerRadius-medium: 6px;
    --gs-cornerRadius-xSmall: 2px;
    --gs-cornerRadius-small: 4px;
    --gs-cornerRadius-large: 8px;
    --gs-cornerRadius-xLarge: 12px;
    --gs-cornerRadius-circle: 9999px;
    --gs-strokeThickness: 1px;

}